.sib-banner {
	position: relative;
	width: 100%;
}

.sib-banner-video {
	position: relative;
	z-index: 1;
	width: 100%;
}

.sib-banner-overlay {
	background: black;
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 2;
	top: 0;
	left: 0;
	opacity: 0.6;
}

.sib-banner-text {

	color: white;
	font-weight: bold;
	text-align: center;

}

.sib-modal-title {

	color: #89A949;
	font-weight: bold;
	font-size: 5em;
	margin-right: 20px;
}

.sib-banner-hashtag {

	padding-top: 1%;

}

.sib-banner-form {

	margin-left: 100px !important;

}

.sib-banner-input-text{

	left: 10% !important;
	width: 40% !important;
	float: left;
	margin-right: 10px !important;
}

.sib-banner-input-email {
	margin-left: 22% !important;
}


.sib-banner-modal {

	background-color: black;
	background: black;

}

.sib-banner-button {

	left: 33%;;

}

.sib-banner-button-close {

	left: 42%;

}

.sib-banner-text-container {
	top:10%;
    z-index: 3;
	position: absolute;
	color: white;
	font-weight: bold;
	width: 50%;
	left: 25%;
}

.login-panel {

	left: 35% !important;
	position: absolute;
	top: 25%;
	width: 50%;
}

.login-panel-button {

	left: 32.5%;
	background-color: #89A949;
	background: #89A949;

}

.login-panel-title {

	font-weight: bold !important;
	color: white;

}

.login-panel-heading {
	background-color: #89A949;
	height: 10%;
	z-index: 99;
	width: 24.3% !important;
	top: 23%;
	left: 35.3% !important;
}

.filler {
	height: 500px;
	position: relative;
}

.logo {

	width: 20%;
	height: 20%;
	left: 20%;
	margin-left: 37.5%;

}